.wrapper {

}
.head {
  height: 40%;
  
}
.head-top {
  padding-top: 10px;
  height: 30%;
}
.links {
  font-size: 30px;
}
.app-name {
  color: white;
}



.form-row {
  padding: 10px;
}

#new_pdf {
  height: 70%;
}

#inputFoldername {
  width: 100%;
  height: 70%;
  padding: 6px 12px;
  border: solid 2px #5d627b;
}

#inputDocumentname {
  width: 100%;
  height: 70%;
  padding: 6px 12px;
  border: solid 2px #5d627b;
}

.form-submit {
  display: block;
}

.added-content-preview {
  border-left:solid 30px #007bff;
  border-right:solid 30px #007bff;
  height: calc(100vh - 30%);
}

#preview-list {
  display: flex;
  /* margin: 20px 20px 20px 20px;*/
  height: 90%;
  background-color: white;
}

.previews{
  height: 100%;
  width: 50%;

}

iframe {
  height: 100%;
  width: 100%;
}



