<div wrapper>
  <%= render "documents/side_bar" %>
  <div class="row">
    <div class="col">
      <%= render "documents/folders" %>
    </div>
    <div class="col-9 documents" style="height:100vh; overflow: hidden;">
      
    </div> 
  </div>
</div>