<div class="folders">
  <% @folders.each do |folder| %>
    <div class="folder border rounded shadow">
      <%= link_to folder.folder_name, folder_documents_path(folder.id), class: "folder-name text-monospace" %>
      <div></div>
      <%= link_to new_folder_document_path(folder.id), class: "plus" do %>
        <i class="fas fa-plus"></i>
      <% end %>
      <%= link_to folder_path(folder.id), class: "minus", method: :delete do %>
        <i class="fas fa-folder-minus"></i>
      <% end %>
    </div>
  <% end %>
</div>
