<div class="wrapper">
  <div class="head-top d-flex justify-content-around">
    <div class="app-name d-flex align-items-center">
      Apps name
    </div>
      <button class="btn btn-lg" href="#">Log out <span class="sr-only">(current)</span></button>
  </div>
  <h1>フォルダに追加しました。</h1>
  <button href='#'>もう一度追加する</button>
  <button href='/'>トップページへ戻る</button>
</div>