<div wrapper>
  <%= render "documents/side_bar" %>
  <div class="row" style="height:100vh;">
    <div class="col">
      <%= render "documents/folders" %>
    </div>
    <div class="col-9 documents" style="height:100vh; overflow: hidden;">
      <%= render "documents/document" %>
    </div>
  </div>
</div>