<div wrapper>
  <%= render "documents/side_bar" %>
  <div class="row" >
    <div class="col-3">
      <%= render "documents/folders" %>
    </div>
    <div class="col documents" style="height:100vh;  overflow: visible;">
      <%= render "documents/document" %>
    </div>
  </div>
</div>