<div class="wrapper">
  <div class="head">
    <div class="head-top d-flex justify-content-around">
      <div class="app-name d-flex align-items-center">
        Apps name
      </div>
        <button class="btn btn-lg" href="#">Log out <span class="sr-only">(current)</span></button>
    </div>
    <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="text4a">Folder name</label>
      <input type="text" class="form-control" id="text4a" placeholder="Folder name">
    </div>
    <div class="form-group col-sm-4">
      <label for="text4b">Document name</label>
      <input type="text" class="form-control" id="text4b" placeholder="Document name">
    </div>
    <div class="form-group col-4">
      <div class="form-group" style="margin-top: 10px;">
        <form method="post" enctype="multipart/form-data">
        <input type="file" accept=".pdf" name="avatar">
        <button type="submit">送信する</button>
        </form>
      </div>
    </div>

  <div class="added-content-preview">
    <div class="added-content">
      PDF
    </div>
  </div>
  <footer class="d-flex justify-content-center">
    <button class="back-btn btn btn-lg btn-facebook d-flex align-items-end" href="#">トップページへ戻る</button>
  </footer>
</div>