.userEmail {
  height: 100vh;
  padding: 30px;
}

.userEmailInfo {
  display: flex;
  justify-content: center;
  height: 20%;
  align-items: center;
}

.userEmailAddress {
  text-align: left;
  height: 100%;
}

.fileInfo {
  margin-bottom: 5px;
}

.sendForm {
  height: calc(100% - 20%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sendEmail {
  width: 70%;
  text-align: center;
  height: 100%;
}

.alert {
  color: white;
}

.emailform {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.emailtext {
  resize: none;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.emailSubmit {
  width: 30%;
  height: 40px;
  border-radius: 10px;

}

